{% extends 'base/base.html' %}

{% block content %}
<div>
    <center>
    {% for despesa in despesas %}
        <a href="{{despesa.get_absolute_url}}">
            <div>
                <h1>{{ despesa.tipoDespesa }}</h1>
            </div>
        </a>
        <a href="despesa/delete/{{despesa.id}}">
            <div> excluir </div>
        </a>
        
        <a href="editar/{{despesa.id}}/">
            <div> editar </div>
        </a>    
    {% endfor %}
    </center>
    <a href="despesa/">
        <div id="btn_cadastrar">
            <p>Cadastrar Despesa</p>
        </div>
    </a>
</div>

<div id="qtde">
    Voce tem {{qtde}} despesas cadastradas.
</div>

{% endblock %}
