{% extends 'base/base.html' %}

{% block content %}

<div>
    <center>
    {% for conta in contas %}
        <a href="{{conta.get_absolute_url}}">
            <div>
                <h1>{{ conta.numConta }}</h1>
            </div>
        </a>
        <a href="conta/delete/{{conta.id}}">
            <div> excluir </div>
        </a>
        
        <a href="conta/?id={{conta.id}}">
            <div> editar </div>
        </a>
    {% endfor %}
    </center>
    <a href="conta/">
        <div id="btn_cadastrar">
            <p>Cadastrar Conta</p>
        </div>
    </a>
</div>

{% endblock %}