{% extends 'base/base.html' %}

{% block content %}
<div>
    {% for conta in contas %}
        <a href="{{conta.get_absolute_url}}">
            <div>
                <h1>{{ conta.numConta }}</h1>
            </div>
        </a>
        <a href="conta/delete/{{conta.id}}">
            <div> excluir </div>
        </a>
        
        <a href="conta/?id={{conta.id}}">
            <div> editar </div>
        </a>
    {% endfor %}
    <a href="conta/">
        <div>
            Cadastrar Conta
        </div>
    </a>
</div>

{% endblock %}