#item1{
    text-align: center;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -200px;
    background-color: brown;
}
#item2{
    text-align: center;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 20%;
    top: 50%;
    margin: -150px 0 0 -200px;
    background-color: brown;
}
#item3{
    text-align: center;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 80%;
    top: 50%;
    margin: -150px 0 0 -200px;
    background-color: brown;
}

p{
    margin-top: 30%;
}