{% extends 'base/base.html' %}

{% block content %}
<div>
    <center>
    {% for receita in receitas %}
        <a href="{{receita.get_absolute_url}}">
            <div>
                <h1>{{ receita.tipoReceita }}</h1>
            </div>
        </a>
        <a href="receita/delete/{{receita.id}}">
            <div> excluir </div>
        </a>
        
        <a href="editar/{{receita.id}}/">
            <div> editar </div>
        </a>
    {% endfor %}
    </center>
    <a href="receita/">
        <div id='btn_cadastrar'>
            <p>Cadastrar Receita</p>
        </div>
    </a>
</div>

<div id="qtde">
    Voce tem {{qtde}} receitas registradas.
</div>

{% endblock %}
